/**
 * Form CSS.
 *
 * @authors: Hossam Abdel-Ghaffar, Long Nguyen, & Jennifer Oxelson Ganter
 */
form {
  display: flex;
  width: 100%;
}

.logout {
  margin-top: 20px !important;
}

.update {
  margin-top: 20px !important;
  width: 100%;
  display: flex;
}

.subpage .fill .row.add {
  padding: 0 !important;
}

.addAlbum,
.addSong,
.addPerformance,
.updateAlbum,
.updateSong,
.updatePerformance{
  width: 100%;
  margin: 20px 0 0 0 !important;
}

.submit {
  padding: 0 15px !important;
}

.recaptcha {
  border: 1px solid #C1C1C1;
  background: #F9F9F9 url('../images/recaptcha.png') no-repeat center right;
  height: 80px;
  margin-bottom: 20px;
  vertical-align: middle;

}

.recaptcha img {
  margin: 20px 0 20px 10px;
}

.error {
  color: #FF0000;
  margin-bottom: 10px;
}

.success {
  color: #0000FF;
  margin-bottom: 10px;
}

.fauxNav .fNav {
  margin-top: 20px;
  padding: 5px 10px !important;
  border: 2px solid #5F5F5F;
  background-color: #BABABA;
  text-align: center;
}


.fauxNav .fNav a,
.fauxNav .fNav a:active,
.fauxNav .fNav a:hover,
.fauxNav .fNav a:visited {
  text-decoration: none;
  color: #5F5F5F;
}

.fauxNav .fNav a:active,
.fauxNav .fNav a:hover,
.fauxNav .fNav .active {
  text-decoration: none;
  color: #17A2B8;
}

.fauxNav .fNav.fauxActive {
  background-color: white !important;
}

.fauxNav .fNav.fauxActive a {
  font-weight: bold;
  color: #17A2B8;
}

span#inputGroupFileAddon01.input-group-text {
  font-size: 9pt !important;
}

#warning {
  margin-top: 20px;
}