/**
 * Layout CSS.
 *
 * @authors: Hossam Abdel-Ghaffar, Long Nguyen, & Jennifer Oxelson Ganter
 */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

/* Mobile Styles & Small Tablets */
@media only screen and (max-width: 575px) {
  /* Main content columns collapsed to one column */
  main .col-sm-12 {
    padding: 0;
    margin: 0;
  }
  aside img {
    width: 100%;
  }
  section {
    margin: 0;
    padding: 0;
  }
  section.homepage h1 {
    font-size: 3em;
    margin: 0 0 5% 0 !important;
  }
  section.homepage ul {
    margin-bottom: 0 !important;
  }
  section.homepage ul li {
    font-size: 9pt !important;
  }

  /* Sub-page columns collapsed to one column  */
  .subpage .left h1 {
    font-size: 3em;
    float: none !important;
    text-align: center;
  }

  .subpage nav ul {
    justify-content: center !important;
  }

  .subpage nav ul li {
    font-size: 9pt !important;
  }

  .subpage aside {
    display:none;
    height:0;
  }
}

@media only screen and (max-width: 754px) {
  /* Hide the nav links & show the menu icon */
  header nav ul {
    display: none;
  }
  header nav .auth {
    margin: 0;
    padding: 0;
    top: 0;
  }
  header nav .auth .menu {
    display: inline-block !important;
    width: 34px;
    height: 30px;
    margin: 0;
    padding: 0;
    position: relative;
    top: -1px;
    background: none;
    cursor: pointer;
  }
  header nav .auth a.login {
    display: none;
  }
}


@media only screen and (min-width: 755px) and (max-width: 799px) {
  /* Decrease nav font size */
  header {
    font-size: 12pt !important;
  }
}

@media only screen and (max-width: 799px) {
  /* footer columns collapsed to one column */
  footer {
    height: 75px !important;
  }
  footer .col {
    flex-basis: auto;
  }
  footer .left {
    text-align: center;
  }
  footer .right ul {
    float: none !important;
    display: flex;
    justify-content: center;
  }

  /* Decrease number of elements in a row */
  .subpage .fill ul li {
    width: 100% !important;
  }
}

/* Tablets and wide screens */
@media only screen and (min-width: 800px) and (max-width: 859px) {
  /* Decrease nav font size */
  header {
    font-size: 13pt !important;
  }
}

@media only screen and (max-width: 869px) {
  /* Decrease spacing between nav elements by two pixels */
  header nav ul li {
    margin: 22px 10px !important;
  }
}

@media only screen and (min-width: 870px) and (max-width: 879px) {
  /* Decrease spacing between nav elements by one pixel */
  header nav ul li {
    margin: 22px 12px !important;
  }
}

@media only screen and (min-width: 880px) and (max-width: 894px) {
  /* Decrease spacing between nav elements by one pixel */
  header nav ul li {
    margin: 22px 13px !important;
  }
}

@media only screen and (min-width: 895px) and (max-width: 919px) {
  /* Decrease spacing between nav elements by one pixel */
  header nav ul li {
    margin: 22px 14px !important;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1199px) {
  /* Decrease number of elements in a row */
  .subpage .fill ul li {
    width: 45% !important;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1399px) {
  /* Decrease number of elements in a row */
  .subpage .fill .col-sm-9.albumData {
  }
}
